<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstarp/4.6.0/css/bootstrap.min.css">
<script src="/webjars/bootstarp/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
</head>
<body>
<h3 style="color:red" th:text="${msg}"></h3><br/>
<form method="post" action="/userLogin">
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    <div>
        <input type="checkbox" name="rememberme" id="remember-me" value="true" />
        <label for="remember-me">Remember me on this computer</label>
    </div>
    <input type="submit" name="submit"><br/>
</form>
</body>
</html>